apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/permanent-redirect: https://work-in-france.fabrique.social.gouv.fr$request_uri
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
  labels:
    app.kubernetes.io/component: redirect
    app.kubernetes.io/name: work-in-france
  name: work-in-france-redirect
  namespace: work-in-france
spec:
  rules:
  - host: work-in-france.incubateur.social.gouv.fr
  tls:
  - hosts:
    - work-in-france.incubateur.social.gouv.fr
    secretName: wif-crt
  
