include:
  - project: SocialGouv/gitlab-ci-yml
    file: /autodevops_simple_app.yml
    ref: v15.5.0

variables:
  PROJECT: work-in-france
  RANCHER_PROJECT_ID: "c-kk8xm:p-gj8cn" # "default" project id here
  VALUES_FILE: ./.k8s/app.values.yml # Your values
  DOCKER_BUILD_ARGS: "--shm-size 512M"

#

Build:
  extends:
    - .base_yarn_build_next
  dependencies:
    - Install
  needs:
    - Install
  variables:
    VERSION: ${CI_COMMIT_SHORT_SHA}
    DS_AGGREGATOR_API_URL: "%%DS_AGGREGATOR_API_URL%%"
  script:
    - yarn build
    - yarn export
  artifacts:
    expire_in: 1 day
    paths:
      - out
