/* Spinner.
--------------------------------------------------------------------------- */

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    overflow: hidden;
    text-indent: -999em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: 4px solid var(--light-grey);
    border-bottom: 4px solid var(--medium-blue);
    animation: spin 1s infinite linear;
}
