*,
:after,
:before {
  box-sizing: border-box;
}
@font-face {
  font-family: Evolventa;
  src: url(../fonts/evolventa/woff2/evolventa-bold.woff2) format("woff2"),
    url(../fonts/evolventa/woff/evolventa-bold.woff) format("woff");
  font-weight: 800;
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/source-sans-pro/woff2/source-sans-pro-regular.otf.woff2)
      format("woff2"),
    url(../fonts/source-sans-pro/woff/source-sans-pro-regular.otf.woff)
      format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/source-sans-pro/woff2/source-sans-pro-bold.otf.woff2)
      format("woff2"),
    url(../fonts/source-sans-pro/woff/source-sans-pro-bold.otf.woff)
      format("woff");
  font-weight: 800;
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../fonts/source-sans-pro/woff2/source-sans-pro-italic.otf.woff2)
      format("woff2"),
    url(../fonts/source-sans-pro/woff/source-sans-pro-italic.otf.woff)
      format("woff");
  font-style: italic;
}
:root {
  --black: #1c1c1c;
  --white: #fff;
  --light-blue: #b4e1fa;
  --medium-blue: #0081d5;
  --dark-blue: #006cb0;
  --darker-blue: #00578d;
  --french-flag-blue: #003189;
  --light-red: #f8e1e7;
  --medium-red: #d1335b;
  --light-green: #daf5e7;
  --medium-green: #03bd5b;
  --lighter-grey: #ebeff3;
  --light-grey: #c9d3df;
  --grey: #adb9c9;
}
body,
html {
  height: 1vh;
}
html {
  font-size: 1rem;
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #1c1c1c;
  color: var(--black);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Evolventa;
}
h1 {
  font-size: 2.986rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.488rem;
  line-height: 1.25;
}
h3 {
  font-size: 2.074rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.728rem;
  line-height: 1.35;
}
h5 {
  font-size: 1.44rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.2rem;
  line-height: 1.6;
}
.form-group,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre,
table {
  margin: 0 0 1rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  text-align: left;
}
table,
table caption {
  border: 1px solid #c9d3df;
  border: 1px solid var(--light-grey);
}
table caption {
  font-style: italic;
  text-align: center;
  padding: 0.625rem 0;
}
table td,
table th {
  padding: 0.625rem 1rem;
  border: 1px solid #c9d3df;
  border: 1px solid var(--light-grey);
}
table tfoot,
table thead {
  vertical-align: bottom;
  padding: 0.625rem 1rem;
  background: #c9d3df;
  background: var(--light-grey);
}
table tfoot {
  vertical-align: top;
}
a,
a:link,
a:visited {
  color: #0081d5;
  color: var(--medium-blue);
  text-decoration: underline;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
}
hr {
  width: 100%;
  border: 1px solid #c9d3df;
  border: solid var(--light-grey);
  border-width: 1px 0 0;
}
code {
  padding: 2px;
  white-space: nowrap;
  border-radius: 2px;
  font-family: Consolas, Monaco, Menlo, monospace;
  background: #ebeff3;
  background: var(--lighter-grey);
  border: 1px solid #c9d3df;
  border: 1px solid var(--light-grey);
}
label[for] {
  cursor: pointer;
}
label + textarea {
  vertical-align: top;
}
fieldset {
  width: 100%;
  min-width: 100%;
  padding: 1rem;
  border: 1px solid #ebeff3;
  border: 1px solid var(--lighter-grey);
}
.btn,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
input[type="checkbox"],
input[type="date"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  margin: 0;
  max-width: 100%;
  padding: 10px 12px;
  background: #fff;
  background: var(--white);
  border: 1px solid #adb9c9;
  border: 1px solid var(--grey);
}
textarea {
  min-height: 150px;
}
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  vertical-align: middle;
  padding: 0;
  height: 22px;
  width: 22px;
  margin: 0 5px 0 0;
}
input[type="radio"] {
  border-radius: 50%;
  background: #fff;
  background: var(--white);
}
input[type="radio"]:checked {
  border-color: #0081d5;
  border-color: var(--medium-blue);
}
input[type="radio"]:checked:before {
  content: "";
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 50%;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  background-color: #0081d5;
  background-color: var(--medium-blue);
}
input[type="checkbox"]:checked {
  background-color: #0081d5;
  background-color: var(--medium-blue);
  border-color: #0081d5;
  border-color: var(--medium-blue);
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: 2px;
  left: 7px;
}
.btn,
.btn:link,
.btn:visited {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  color: #f5f5f5;
  padding: 10px 30px;
  cursor: pointer;
  border: 1px solid #0081d5;
  border: 1px solid var(--medium-blue);
  background-color: #0081d5;
  background-color: var(--medium-blue);
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn:focus,
.btn:hover {
  background-color: #006cb0;
  background-color: var(--dark-blue);
  border-color: #006cb0;
  border-color: var(--dark-blue);
}
.btn:active {
  position: relative;
  top: 1px;
  left: 1px;
  background-color: #00578d;
  background-color: var(--darker-blue);
  border-color: #00578d;
  border-color: var(--darker-blue);
}
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.form-group {
  & input[type="date"],
  & input[type="email"],
  & input[type="file"],
  & input[type="number"],
  & input[type="password"],
  & input[type="search"],
  & input[type="tel"],
  & input[type="text"],
  & input[type="url"],
  & textarea {
    min-width: 100%;
  }
  &.form-error .form-error-text,
  &.form-error label {
    color: #d1335b;
    color: var(--medium-red);
  }
  &.form-error input[type="date"],
  &.form-error input[type="email"],
  &.form-error input[type="file"],
  &.form-error input[type="number"],
  &.form-error input[type="password"],
  &.form-error input[type="search"],
  &.form-error input[type="tel"],
  &.form-error input[type="text"],
  &.form-error input[type="url"],
  &.form-error textarea {
    border: 1px solid #d1335b;
    border: 1px solid var(--medium-red);
  }
}
body {
  margin: 0;
  background: #ebeff3;
  background: var(--lighter-grey);
}
.banner-content,
.site-footer,
.site-header,
section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 40px;
}
@media (max-width: 600px) {
  .banner-content,
  .site-footer,
  .site-header,
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#skip-links {
  position: absolute;
  width: 100%;
  text-align: center;
}
#skip-links a {
  position: absolute;
  left: -100%;
  top: 20px;
  padding: 20px;
  background: #00578d;
  background: var(--darker-blue);
  color: #fff;
  color: var(--white);
}
#skip-links a:active,
#skip-links a:focus {
  position: relative;
  left: 0;
}
.site-header {
  background: #fff;
  background: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #c9d3df;
  border: solid var(--light-grey);
  border-width: 0 0 1px;
}
.site-header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header > nav .site-header-logos {
  display: flex;
  align-items: center;
  & .site-logo {
    color: #1c1c1c;
    color: var(--black);
    font-family: Evolventa;
    font-size: 1.7rem;
    margin-left: 10px;
    text-decoration: none;
  }
}
.site-header > nav ul {
  text-align: center;
  padding: 0;
  & li {
    display: inline-block;
  }
  & li:not(:first-of-type) {
    margin-left: 10px;
  }
  & a {
    color: #003189;
    color: var(--french-flag-blue);
  }
}
@media (max-width: 600px) {
  .site-header > nav {
    display: block;
  }
  .site-header > nav .site-header-logos {
    justify-content: center;
  }
}
.banner {
  background: url(../img/map_bkg_pattern.png) repeat;
  border: 1px solid #c9d3df;
  border: solid var(--light-grey);
  border-width: 0 0 1px;
}
.banner-content {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 330px;
  background: url(../img/map.png) 0 0 no-repeat;
}
@media (max-width: 600px) {
  .banner-content {
    background-size: cover;
    min-height: 0;
  }
}
.banner-content h1 {
  padding: 30px 0;
  margin: 0;
  text-shadow: 0 1px 2px hsla(0, 0%, 100%, 0.24);
  color: #003189;
  color: var(--french-flag-blue);
}
@media (max-width: 600px) {
  .banner-content h1 {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media (min-width: 900px) {
  .banner-content h1 {
    padding-left: 40%;
  }
}
section > section {
  padding: 0;
  margin: 0;
}
.section-white {
  background: #fff;
  background: var(--white);
}
.section-color {
  background: #ebeff3;
  background: var(--lighter-grey);
}
.site-footer {
  border: 1px solid #c9d3df;
  border: solid var(--light-grey);
  border-width: 1px 0 0;
  text-align: center;
}
.site-footer-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}
.site-footer-content ul li img {
  vertical-align: middle;
}
.site-footer-content ul li:not(:last-of-type):after {
  content: "|";
  color: #adb9c9;
  color: var(--grey);
  padding: 0 10px;
}
.box-bordered {
  text-align: center;
  box-shadow: 0 1px 3px #c9d3df;
  box-shadow: 0 1px 3px var(--light-grey);
  border: 1px solid silver;
  margin: 20px;
  box-sizing: border-box;
  padding: 10px;
}
.notification {
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #0081d5;
  color: var(--medium-blue);
  border: 1px solid #0081d5;
  border: 1px solid var(--medium-blue);
  background: #b4e1fa;
  background: var(--light-blue);
}
.notification > :last-child {
  margin-bottom: 0;
}
.notification.error {
  color: #d1335b;
  color: var(--medium-red);
  border: 1px solid #d1335b;
  border: 1px solid var(--medium-red);
  background: #f8e1e7;
  background: var(--light-red);
}
.notification.success {
  color: #03bd5b;
  color: var(--medium-green);
  border: 1px solid #03bd5b;
  border: 1px solid var(--medium-green);
  background: #daf5e7;
  background: var(--light-green);
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.spinner {
  display: inline-block;
  overflow: hidden;
  text-indent: -999em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  border: 4px solid #c9d3df;
  border-bottom-color: #0081d5;
  border: 4px solid var(--light-grey);
  border-bottom-color: var(--medium-blue);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.statistiques-resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.statistiques-resume > div div:first-child {
  font-size: 1.2em;
}
.statistiques-resume > div div:last-child {
  font-weight: 700;
  font-size: 2em;
}
@media (max-width: 600px) {
  .box-bordered {
    margin-top: 30px;
    font-size: 1.3em;
  }
}
.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
}
.steps-item {
  margin: 0 10px;
  max-width: 250px;
}
.steps-item img {
  display: block;
  margin: 30px auto;
  width: 60%;
}
.steps-item p {
  position: relative;
  padding-left: 3rem;
}
.steps-item p span {
  display: inline-block;
  position: absolute;
  font-weight: 800;
  top: 0;
  left: 0;
  border: 1px solid;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 1.9rem;
  text-align: center;
}
.center {
  text-align: center;
}
.buttons-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons-row a {
  margin: 5px;
}
@media (min-width: 900px) {
  .multi-column-list {
    -webkit-column-count: 2;
    column-count: 2;
  }
  .multi-column-list li {
    margin: 0 50px;
  }
}
.aerate-content {
  padding: 0 15%;
}
@media (max-width: 800px) {
  .aerate-content {
    padding: 0;
  }
}
