/* Forms.
--------------------------------------------------------------------------- */

label[for] {
    cursor: pointer;
}

label + textarea {
    vertical-align: top;
}

fieldset {
    /*
    Width and min-width are required here to respect 100% textarea max-width within fieldset.
    http://codepen.io/tmsdnl/pen/ByqJgO
    */
    width: 100%;
    min-width: 100%;
    padding: 1rem;
/*    border: 1px solid #ebeff3;*/
    border: 1px solid var(--lighter-grey);
}


/*
Some types of properties are not inherited by default.
We can use `inherit` to force inheritance in some cases.
For example, the input element doesn't inherit any of the font properties.
*/
.btn,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

input[type='checkbox'],
input[type='email'],
input[type='file'],
input[type='number'],
input[type='password'],
input[type='radio'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    margin: 0;
    max-width: 100%;
    padding: 10px 12px;
/*    background: #fff;*/
    background: var(--white);
/*    border: 1px solid #adb9c9;*/
    border: 1px solid var(--grey);
}

textarea {
    min-height: 150px;
}

/* Forms > custom radio and checkbox buttons. ------------------------------------ */

input[type='radio'],
input[type='checkbox'] {
    position: relative;
    vertical-align: middle;
    padding: 0;
    height: 22px;
    width: 22px;
    margin: 0 5px 0 0;
}

/* Forms > custom radio. ------------------------------------ */

input[type='radio'] {
    border-radius: 50%;
/*    background: #fff;*/
    background: var(--white);
}

input[type='radio']:checked {
/*    border-color: #0081d5;*/
    border-color: var(--medium-blue);
}

input[type='radio']:checked:before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    transform: scale(.4);
/*    background-color: #0081d5;*/
    background-color: var(--medium-blue);
}

/* Forms > custom checkbox. ------------------------------------ */

input[type='checkbox']:checked {
/*    background-color: #0081d5;*/
    background-color: var(--medium-blue);
/*    border-color: #0081d5;*/
    border-color: var(--medium-blue);
}

input[type='checkbox']:checked:before {
    /* Create a CSS checkmark. */
    content: '';
    display: block;
    /* Make a small rectangle so the border will create an L-shape. */
    width: 6px;
    height: 12px;
    /* Add a white border on the bottom and left, creating that 'L'. */
/*    border: solid #fff;*/
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    /* Rotate the L 45 degrees to turn it into a checkmark. */
    transform: rotate(45deg);
    /* Center the checkmark. */
    position: relative;
    top: 2px;
    left: 7px;
}

/* Buttons. ------------------------------------ */

.btn,
.btn:link,
.btn:visited {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: inline-block;

    color: #f5f5f5;

    padding: 10px 30px;

    cursor: pointer;

/*    border: 1px solid #0081d5;*/
    border: 1px solid var(--medium-blue);
/*    background-color: #0081d5;*/
    background-color: var(--medium-blue);

    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn:focus,
.btn:hover {
/*    background-color: #006cb0;*/
    background-color: var(--dark-blue);
/*    border-color: #006cb0;*/
    border-color: var(--dark-blue);
}

.btn:active {
    position: relative;
    top: 1px;
    left: 1px;

/*    background-color: #00578d;*/
    background-color: var(--darker-blue);
/*    border-color: #00578d;*/
    border-color: var(--darker-blue);
}

.btn[disabled] {
    cursor: not-allowed;
    opacity: .5;
}
