/* Steps: a.k.a. "how it work".
--------------------------------------------------------------------------- */

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

.steps-item {
    margin: 0 10px;
    max-width: 250px;
}

.steps-item img {
    display: block;
    margin: 30px auto;
    width: 60%;
}

.steps-item p {
    position: relative;
    padding-left: 3rem;
}

.steps-item p span { /* Step number. */
    display: inline-block;
    position: absolute;
    font-weight: 800;
    top: 0;
    left: 0;
    border: 1px solid;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 1.9rem;
    text-align: center;
}

/* Buttons row: a row containing 1 or more <a> element(s).
--------------------------------------------------------------------------- */

.buttons-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons-row a {
    margin: 5px;
}

/* Notification messages.
--------------------------------------------------------------------------- */

.notification {
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;
/*    color: #0081d5;*/
    color: var(--medium-blue);
/*    border: 1px solid #0081d5;*/
    border: 1px solid var(--medium-blue);
/*    background: #b4e1fa;*/
    background: var(--light-blue);
}

.notification > :last-child {
    margin-bottom: 0;
}

.notification.error {
/*    color: #d1335b;*/
    color: var(--medium-red);
/*    border: 1px solid #d1335b;*/
    border: 1px solid var(--medium-red);
/*    background: #f8e1e7;*/
    background: var(--light-red);
}
