/* Global layout and spacing around main site elements.
--------------------------------------------------------------------------- */

body {
    margin: 0;
/*    background: #ebeff3;*/
    background: var(--lighter-grey);
}

.site-header,
.banner-content,
.site-main,
.site-footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 40px;
}

@media (max-width: 400px) {  /* For any browser < max-width. */

    .site-header,
    .banner-content,
    .site-main,
    .site-footer {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Skip-links.
--------------------------------------------------------------------------- */

#skip-links {
    position: absolute;
    width: 100%;
    text-align: center;
}

#skip-links a {
    position: absolute;
    left: -100%;
    top: 20px;
    padding: 20px;
/*    background: #00578d;*/
    background: var(--darker-blue);
/*    color: #fff;*/
    color: var(--white);
}

#skip-links a:focus,
#skip-links a:active {
    position: relative;
    left: 0;
}

/* Header.
--------------------------------------------------------------------------- */

.site-header {
/*    background: #fff;*/
    background: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-header a.site-logo {
/*    color: #1c1c1c;*/
    color: var(--black);
    font-size: 1.7rem;
    text-decoration: none;
}

.site-header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu.
--------------------------------------------------------------------------- */

#menu-open-btn {
    display: block;
    width: 40px;
    height: 24px;
}

#menu-open-btn > img {
    width: 100%;
    height: 100%;
}

.menu {
    z-index: 1000;
    transform: translateX(100%);  /* Put it out of the viewport. */
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 15px;
    text-align: center;
/*    background: #fff;*/
    background: var(--white);
}

.menu.js-menu-is-opened,
.menu:target {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

body.js-menu-is-opened {
    overflow: hidden;  /* Prevent body scrolling when the menu is open. */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    text-transform: uppercase;
    margin: 20px 0;
}

/* Banner (with the big baseline).
--------------------------------------------------------------------------- */

.banner {
    background: url(../img/map_bkg_pattern.png) repeat;
}

.banner-content {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 330px;
    /*
    Map image created by Jannoon028 - Freepik.com
    https://www.freepik.com/free-photo/wallpaper-geography-nation-map-paper_1048435.htm
    */
    background: url(../img/map.png) 0 0 no-repeat;
}

@media (max-width: 400px) {  /* For any browser < max-width. */

    .banner-content {
        background-size: cover;
    }

}

.banner-content h1 {
    padding: 30px 0;
    margin: 0; /* Avoid collapsing margin. */
    text-shadow: 0 1px 2px rgba(255,255,255,0.24);
/*    color: #003189;*/
    color: var(--french-flag-blue);
}

@media (min-width: 900px) {  /* For any browser > min-width. */

    .banner-content h1 {
        padding-left: 40%;  /* Push the baseline more to the right on big screens. */
    }

}

/* Main.
--------------------------------------------------------------------------- */

.site-main {
/*    background: #fff;*/
    background: var(--white);
}

/* Footer.
--------------------------------------------------------------------------- */

.site-footer {
/*    border: 1px solid #c9d3df;*/
    border: 1px solid var(--light-grey);
    border-width: 1px 0 0 0;
}

.site-footer-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer-content ul li img {
    vertical-align: middle;
}

.site-footer-content ul li:not(:last-of-type):after {
    content: '|';
/*    color: #adb9c9;*/
    color: var(--grey);
    padding: 0 10px;
}
