/* Steps (How it work).
--------------------------------------------------------------------------- */

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

.steps-item {
    margin: 0 10px;
    max-width: 250px;
}

.steps-item img {
    display: block;
    margin: 30px auto;
    width: 60%;
}

.steps-item p {
    position: relative;
    padding-left: 3rem;
}

.steps-item p span { /* Step number. */
    display: inline-block;
    position: absolute;
    font-weight: 800;
    top: 0;
    left: 0;
    border: 1px solid;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 1.9rem;
    text-align: center;
}
