/* Generic utils.
--------------------------------------------------------------------------- */

.center {
    text-align: center;
}

/* Multi column lists.
--------------------------------------------------------------------------- */

@media (min-width: 900px) {  /* For any browser > min-width. */

    .multi-column-list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .multi-column-list li {
        margin: 0 50px;
    }

}

/* Aerate content on big screens
--------------------------------------------------------------------------- */

.aerate-content {
    padding: 0 15%;
}

@media (max-width: 800px) {  /* For any browser < max-width. */

    .aerate-content {
        padding: 0;
    }

}
