{% extends "base/layout.html" %}

{% block title %}{{ super() }} - FAQ{% endblock %}

{% block content %}

    <main id="skip-to-main">

        <section class="section-white">

            <div class="aerate-content">

                <h2 id="faq-summary">FAQ</h2>

                <ul id="js-faq-summary-links"></ul>

                <p>Vous avez d'autres questions ? <a href="mailto:contact@workinfrance.beta.gouv.fr">Contactez-nous !</a></p>

                <hr>

                {% include "markdown/faq.md" %}

            </div>

        </section>

    </main>

{% endblock %}

{% block script %}
    {{ super() }}
    <script>

        // Create the FAQ summary.
        // --------------------------------------------------------------------

        let summaryList = document.querySelector('#js-faq-summary-links');

        let titles = document.querySelectorAll('h3');

        [].forEach.call(titles, function (item) {
            summaryList.innerHTML += '<li><a href="#' + item.id + '">' + item.innerText + '</a></li>';
        });

    </script>
{% endblock %}
