{% extends "base/layout.html" %}

{% block title %}{{ super() }} - FAQ{% endblock %}

{% block content %}

    <main id="skip-to-main">

        <section class="section-white">

            <div class="aerate-content">

                <h2 id="faq-summary">FAQ</h2>

                <p>Vous avez d'autres questions ? <a href="mailto:&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x77;&#x6F;&#x72;&#x6B;&#x69;&#x6E;&#x66;&#x72;&#x61;&#x6E;&#x63;&#x65;&#x2E;&#x62;&#x65;&#x74;&#x61;&#x2E;&#x67;&#x6F;&#x75;&#x76;&#x2E;&#x66;&#x72;">Contactez-nous !</a></p>

                <hr>

                {% include "markdown/faq.md" %}

            </div>

        </section>

    </main>

{% endblock %}

{% block script %}
    {{ super() }}
    <script>

        // Create the FAQ summary.
        // --------------------------------------------------------------------

        let summaryTitle = document.querySelector('#faq-summary');

        summaryTitle.insertAdjacentHTML('afterend', '<ul id="faq-summary-links"></ul>');

        let summaryList = document.querySelector('#faq-summary-links');

        let titles = document.querySelectorAll('h3');

        [].forEach.call(titles, function (item) {
            summaryList.innerHTML += '<li><a href="#' + item.id + '">' + item.innerText + '</a></li>';
        });

    </script>
{% endblock %}
