{% extends "base/layout.html" %}

{% block title %}{{ super() }} - FAQ{% endblock %}

{% block content %}

    <main id="skip-to-main">

        <section class="section-white">

            <div class="aerate-content">

                <h2 id="faq-summary">FAQ</h2>

                <ul>
                    <li><a href="#faq1">Question 1</a></li>
                    <li><a href="#faq2">Question 2</a></li>
                    <li><a href="#faq3">Question 3</a></li>
                    <li><a href="#faq4">Question 4</a></li>
                </ul>

                <p>Vous avez d'autres questions ? <a href="mailto:&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x77;&#x6F;&#x72;&#x6B;&#x69;&#x6E;&#x66;&#x72;&#x61;&#x6E;&#x63;&#x65;&#x2E;&#x62;&#x65;&#x74;&#x61;&#x2E;&#x67;&#x6F;&#x75;&#x76;&#x2E;&#x66;&#x72;">Contactez-nous !</a></p>

                <hr>

                <h3 id="faq1">Professions réglementées</h3>

                <p>Vous êtes étudiants et vous souhaitez exercer à titre accessoire une profession pour laquelle l'accès est soumis à des conditions particulières ? Votre demande d'autorisation provisoire de travail sur WorkinFrance doit comporter en pièce complémentaire les justificatifs que ces conditions sont remplies auprès des organes ou institutions habilités. Vous trouverez ci-dessous quelques outils vous permettant de faciliter votre recherche !</p>

                <p>Le principe de la profession réglementée : Il s'agit d'<i>activité ou ensemble d'activités professionnelles dont l'accès, l'exercice ou une des modalités d'exercice est subordonné directement ou indirectement, en vertu de dispositions législatives, réglementaires ou administratives, à la possession de qualifications professionnelles déterminées; l'utilisation d'un titre professionnel limitée par des dispositions législatives, réglementaires ou administratives aux détenteurs d'une qualification professionnelle donnée constitue notamment une modalité d'exercice</i>.</p>

                <p>Si votre demande d'autorisation provisoire de travail concerne une mission ou un travail relevant d'une profession réglementée, il s'agira de fournir en pièce justificative la preuve que vous respectez les conditions réglementaires spécifiques prévues.</p>

                <p>Petite précision utile : il s'agit ici simplement de prouver que l'étudiant demandeur a la capacité d'exercer une activité pour laquelle il peut exister des conditions spécifiques d'accès. Il n'est pas nécessaire de rechercher l'agrément ou divers autorisation relevant exclusivement de l'employeur.</p>

                <p>Pas de panique ! nous avons répertorié quelques outils vous permettant de vous y retrouver :</p>

                <ul>
                    <li>est-ce que mon activité (en tant que salarié) entre dans le champ d'une profession réglementée ? <a href="http://www.ciep.fr/enic-naric-page/verifier-si-profession-est-reglementee">http://www.ciep.fr/enic-naric-page/verifier-si-profession-est-reglementee</a> ;</li>
                    <li>un mémo permettant de retrouver facilement une liste non exhaustive des professions réglementées et les contacts permettant de vous aider dans la démarche d'obtention du certificat/attestation/autorisation : <a href="http://www.ciep.fr/enic-naric-page/verifier-si-profession-est-reglementee">http://www.ciep.fr/enic-naric-page/verifier-si-profession-est-reglementee</a> (attention, certaines dispositions concernent exclusivement l'employeur, dont l'agrément n'est pas nécessaire pour l'obtention d'une autorisation provisoire de travail) ;</li>
                    <li>l'employeur doit être également en mesure d'informer l'étudiant désireux de travailler si celui-ci doit respecter une procédure de demande d'autorisation d'exercice d'une activité.</li>
                </ul>

                <p>Vous trouverez ci-dessous quelques exemples de professions réglementées régulièrement traitées dans les services de la main d'œuvre étrangère, accompagné des documents à transmettre :</p>

                <ul>
                    <li>
                        Stagiaire expert comptable
                        <ul>
                            <li>Attestation de l'ordre associé</li>
                        </ul>
                    </li>
                    <li>
                        Agent de sécurité
                        <ul>
                            <li>Copie du certificat de qualification professionnelle</li>
                        </ul>
                    </li>
                    <li>
                        Commissaire aux comptes
                        <ul>
                            <li>Attestation de l'ordre associé</li>
                        </ul>
                    </li>
                    <li>
                        Stagiaire avocat
                        <ul>
                            <li>Attestation de l'ordre associé</li>
                        </ul>
                    </li>
                    <li>
                        Notaire
                        <ul>
                            <li>Attestation de l’ordre associé</li>
                        </ul>
                    </li>
                </ul>

                <p>Pour toute information complémentaire ou spécifique, n'hésitez pas <a href="mailto:&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x77;&#x6F;&#x72;&#x6B;&#x69;&#x6E;&#x66;&#x72;&#x61;&#x6E;&#x63;&#x65;&#x2E;&#x62;&#x65;&#x74;&#x61;&#x2E;&#x67;&#x6F;&#x75;&#x76;&#x2E;&#x66;&#x72;">à nous contacter</a>.</p>

                <p><a href="#faq-summary">Retour au sommaire</a></p>

                <hr>

                <h3 id="faq2">Contrats particuliers (liste non exhaustive)</h3>

                <p>Vous êtes étudiants et vous souhaitez exercer à titre accessoire une profession pour laquelle l'accès est soumis à des conditions particulières hors profession réglementée (c.f. FAQ professions réglementées) ? Votre demande d'autorisation provisoire de travail sur WorkinFrance doit comporter en pièce complémentaire les justificatifs que ces conditions sont remplies auprès de l'autorité administrative habilitée. Vous trouverez ci-dessous les missions particulières pour lesquelles un avis est demandée par les services de la main d'œuvre étrangère :</p>

                <ul>
                    <li>
                        CIFRE (Convention de formation par la recherche)
                        <ul>
                            <li>Copie du contrat CIFRE</li>
                            <li>Pour plus d'information :
                                <br>
                                <a href="http://www.enseignementsup-recherche.gouv.fr/cid67039/www.enseignementsup-recherche.gouv.fr/cid67039/cifre-la-convention-industrielle-de-formation-par-la-recherche.html">http://www.enseignementsup-recherche.gouv.fr/cid67039/www.enseignementsup-recherche.gouv.fr/cid67039/cifre-la-convention-industrielle-de-formation-par-la-recherche.html</a>
                                <br>
                                <a href="http://www.enseignementsup-recherche.gouv.fr/cid76053/le-financement-doctoral.html">http://www.enseignementsup-recherche.gouv.fr/cid76053/le-financement-doctoral.html</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        ATER (Attaché temporaire de l’enseignement et de la recherche)
                        <ul>
                            <li>Contrat d’ATER délivré par le rectorat mentionnant la date de prise de fonction</li>
                            <li>Arrêté ou attestation de nomination ou PV d’installation</li>
                            <li>Pour plus d'information : <a href="http://www.enseignementsup-recherche.gouv.fr/cid23097/www.enseignementsup-recherche.gouv.fr/cid23097/www.enseignementsup-recherche.gouv.fr/cid23097/devenir-attache-temporaire-d-enseignement-et-de-recherche-a.t.e.r.html">http://www.enseignementsup-recherche.gouv.fr/cid23097/www.enseignementsup-recherche.gouv.fr/cid23097/www.enseignementsup-recherche.gouv.fr/cid23097/devenir-attache-temporaire-d-enseignement-et-de-recherche-a.t.e.r.html</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Internes (Hors AP/HP)
                        <ul>
                            <li>Attestation de recrutement avec durée et salaire</li>
                            <li>Attestation du chef de service</li>
                            <li>Certificat de scolarité précisant inscription en DFMS ou DFMSA</li>
                            <li>Copie passeport avec nom et prénom, ou titre de séjour étudiant diplôme de médecin</li>
                        </ul>
                    </li>
                </ul>

                <p><a href="#faq-summary">Retour au sommaire</a></p>

                <hr>

                <h3 id="faq3">Question 3</h3>

                <p>Vivamus ac mauris quis orci tincidunt laoreet. Vivamus ultricies eu turpis accumsan varius. Nunc sem elit, consectetur sed lectus lacinia, sagittis efficitur velit. Vivamus vitae ligula ac est ullamcorper vehicula. Mauris quis placerat enim, vitae hendrerit lectus. Nam a ligula id urna molestie rutrum. Donec molestie nibh vel odio efficitur consectetur. Nulla facilisi.</p>

                <p><a href="#faq-summary">Retour au sommaire</a></p>

                <hr>

                <h3 id="faq4">Question 4</h3>

                <p>Vivamus ac mauris quis orci tincidunt laoreet. Vivamus ultricies eu turpis accumsan varius. Nunc sem elit, consectetur sed lectus lacinia, sagittis efficitur velit. Vivamus vitae ligula ac est ullamcorper vehicula. Mauris quis placerat enim, vitae hendrerit lectus. Nam a ligula id urna molestie rutrum. Donec molestie nibh vel odio efficitur consectetur. Nulla facilisi.</p>

                <p><a href="#faq-summary">Retour au sommaire</a></p>

            </div>

        </section>

    </main>

{%- endblock %}
