{% extends "base/layout.html" %}

{% block title %}{{ super() }} - Votre demande d'autorisation provisoire de travail{% endblock %}

{% block content %}

    <div class="banner" role="contentinfo">
        <div class="banner-content">
            <h1>La plateforme de demande d'autorisation provisoire de travail pour les étudiants étrangers</h1>
        </div>
    </div>

    <main id="skip-to-main">

        <section class="section-color center">
            <h4>Démarrez votre demande d'autorisation provisoire de travail</h4>
            <p class="buttons-row">
                <a class="btn" href="/qualify/student/qualify-1.html?user=etudiant">Je suis un étudiant</a>
                <a class="btn" href="/qualify/company/qualify-1.html?user=entreprise">Je suis un employeur</a>
            </p>
            <p style="margin:40px"> Service en version bêta.
                <br>
                    Vous pouvez effectuer votre demande d'autorisation provisoire de travail sur Workinfrance dès lors que vous êtes étudiant étranger et que l'adresse figurant sur votre document de séjour est située à Paris (75) ou dans le Rhône (69). 
        </p>
        </section>

        <section class="section-white">

            <h4 class="center">Une autorisation provisoire de travail, comment ça se passe ?</h4>

            <ul class="steps">
                <li class="steps-item">
                    <img src="/static/img/steps/step1.svg" alt="" width="150" height="150">
                    <p>
                        <span>1</span>
                        Démarrez votre demande d'autorisation provisoire de travail sur notre site.
                    </p>
                </li>
                <li class="steps-item">
                    <img src="/static/img/steps/step2.svg" alt="" width="150" height="150">
                    <p>
                        <span>2</span>
                        Remplissez votre demande d'autorisation provisoire de travail sur le site Démarches simplifiées.
                    </p>
                </li>
                <li class="steps-item">
                    <img src="/static/img/steps/step3.svg" alt="" width="150" height="150">
                    <p>
                        <span>3</span>
                        Recevez votre autorisation provisoire de travail par e-mail.
                    </p>
                </li>
            </ul>

            <br>

            <h4 class="center">Faites votre demande d'autorisation de travail en ligne</h4>

            <p class="rich">Avec Work In France, plus besoin de vous déplacer ou d'envoyer des courriers. Vous recevez des notifications par e-mail sur l'avancée de votre demande d'autorisation et nous vous envoyons par e-mail votre autorisation provisoire de travail dans un délai moyen de 5 jours ouvrés (sauf cas spécifiques).
                <br>
                Votre démarche est sécurisée, rapide et c'est gratuit.
            </p>

        </section>

    </main>

{% endblock %}
