{% extends "base/layout.html" %}

{% block title %}{{ super() }} - Bienvenue{% endblock %}

{% block content %}

    <div class="banner" role="contentinfo">
        <div class="banner-content">
            <h1>La plateforme de demande d'autorisations provisoire de travail pour les étudiants étrangers</h1>
        </div>
    </div>

    <main id="skip-to-main">

        <section class="section-white">

            <div class="aerate-content">
                <h3 class="center">Ouverture de la bêta très prochainement</h3>
            </div>

        </section>

    </main>

{% endblock %}
