{% extends "base/layout.html" %}

{% block title %}{{ super() }} - Bienvenue{% endblock %}

{% block content %}

    <main id="skip-to-main">

        <section class="section-white">

            <div class="aerate-content">

                <h2>Demande d'autorisation provisoire de travail</h2>

                <p><b>Ce service n'est pas encore disponible dans votre département.</b></p>

                <p>La version bêta est disponible uniquement pour les demandes concernant le département 75.</p>

                <p>En attendant, veuillez vous adresser à la <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">DIRECCTE</abbr> de votre département :</p>









<!--
https://www.economie.gouv.fr/dgccrf/coordonnees-des-DIRECCTE-DIECCTE
-->

<!--
GRAND-EST
8
10
51
52
54
55
57
67
68
88
-->

<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Grand Est<br>
        6 rue Gustave-Adolphe Hirn<br>
        67085 STRASBOURG Cedex<br>
        Tel : 03.88.75.86.86<br>
        Fax : 03.88.75.86.94<br>
        <a href="http://alsace-champagne-ardenne-lorraine.direccte.gouv.fr/Concurrence-et-consommation-4944">http://alsace-champagne-ardenne-lorraine.direccte.gouv.fr/Concurrence-et-consommation-4944</a>
    </i>
</p>

<!--
NOUVELLE-AQUITAINE
16
17
19
23
24
33
40
47
64
79
86
87
-->

<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Nouvelle-Aquitaine<br>
        Immeuble Le Prisme<br>
        11/19 rue Marguerite Crauste<br>
        33074 BORDEAUX CEDEX<br>
        Tél. : 05 56 99 96 00<br>
        Fax : 05 56 99 96 69<br>
        <a href="http://aquitaine-limousin-poitou-charentes.direccte.gouv.fr/Concurrence-et-consommation">http://aquitaine-limousin-poitou-charentes.direccte.gouv.fr/Concurrence-et-consommation</a>
    </i>
</p>

<!--
AUVERGNE-RHÔNE-ALPES
1
3
7
15
26
38
42
43
63
69
73
74
-->

<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Auvergne-Rhône-Alpes<br>
        Cité administrative<br>
        2, rue Pélissier Bâtiment P<br>
        63034 CLERMONT FERRAND<br>
        Tel. : 04 73 43 14 14<br>
        Fax : 04 73 34 03 00<br>
        <a href="http://auvergne-rhone-alpes.direccte.gouv.fr/Concurrence-et-consommation">http://auvergne-rhone-alpes.direccte.gouv.fr/Concurrence-et-consommation</a>
    </i>
</p>

<!--
NORMANDIE
14
27
50
61
76
-->

<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Normandie<br>
        3 place Saint Clair<br>
        BP 70034<br>
        14202 HEROUVILLE SAINT CLAIR CEDEX<br>
        Tél. : 02 31 47 73 00<br>
        Fax : 02 31 47 73 01<br>
        <a href="http://normandie.direccte.gouv.fr/Concurrence-et-consommation">http://normandie.direccte.gouv.fr/Concurrence-et-consommation</a>
    </i>
</p>

<!--
BOURGOGNE-FRANCHE-COMTÉ
21
25
39
58
70
71
89
90
-->

<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Bourgogne-Franche-Comté<br>
        19 bis-21, Bd Voltaire<br>
        BP 81110<br>
        21011 DIJON Cedex<br>
        Tél. : 03 80 76 99 10<br>
        Fax : 03 80 76 99 20<br>
        <a href="http://bourgogne-franche-comte.direccte.gouv.fr/Concurrence-Consommation">http://bourgogne-franche-comte.direccte.gouv.fr/Concurrence-Consommation</a>
    </i>
</p>

<!--
BRETAGNE
22
29
35
56
-->
<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Bretagne<br>
        Immeuble "Le Newton"<br>
        3 bis, avenue de Belle Fontaine<br>
        TSA 71732<br>
        35517 Cesson Sévigné Cedex<br>
        <a href="http://bretagne.direccte.gouv.fr/Concurrence-et-consommation">http://bretagne.direccte.gouv.fr/Concurrence-et-consommation</a>

    </i>
</p>

<!--
CENTRE-VAL-DE-LOIRE
18
28
36
37
41
45
-->

<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Centre-Val de Loire<br>
        12 place de l'étape<br>
        CS 85809<br>
        45058 ORLÉANS CEDEX 1<br>
        Tél. : 02 38 77 68 00<br>
        Fax : 02 38 77 68 01<br>
        <a href="http://centre-val-de-loire.direccte.gouv.fr/Concurrence-et-consommation">http://centre-val-de-loire.direccte.gouv.fr/Concurrence-et-consommation</a>
    </i>
</p>

<!--
CORSE
2a
2b
-->
<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Corse<br>
        2 chemin de Loretto<br>
        BP 332<br>
        20180 AJACCIO CEDEX 1<br>
        Tél. : 04 95 23 90 00<br>
        Fax : 04 95 23 90 05<br>
        <a href="http://corse.direccte.gouv.fr/Concurrence-et-consommation,2875">http://corse.direccte.gouv.fr/Concurrence-et-consommation,2875</a>
    </i>
</p>

<!--
ÎLE-DE-FRANCE
75
77
78
91
92
93
94
95
-->
<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Île-de-France<br>
        19 rue Madeleine Vionnet<br>
        93300 Aubervilliers<br>
        Tél. : 01 70 96 13 00<br>
        Fax : 01 42 41 22 77<br>
        <a href="http://idf.direccte.gouv.fr/concurrence-et-consommation,77">http://idf.direccte.gouv.fr/concurrence-et-consommation,77</a>
    </i>
</p>

<!--
OCCITANIE
9
11
12
30
31
32
34
46
48
65
66
81
82
-->
<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Occitanie<br>
        615 Bd d'Antigone<br>
        CS 19002<br>
        34064<br>
        MONTPELLIER Cedex 2<br>
        Tél. : 04 67 22 88 88<br>
        Fax : 04 30 630 632 &amp; 04 30 630 631<br>
        <a href="http://languedoc-roussillon-midi-pyrenees.direccte.gouv.fr/Concurrence-et-consommation">http://languedoc-roussillon-midi-pyrenees.direccte.gouv.fr/Concurrence-et-consommation</a>
    </i>
</p>

<!--
HAUTS-DE-FRANCE
2
59
60
62
80
-->

<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Hauts-de-France<br>
        70 rue Saint Sauveur BP 456<br>
        Les Arcades de Flandre<br>
        59021 LILLE CEDEX<br>
        Tél. : 03 20 96 48 60<br>
        Fax : 03 20 52 74 63<br>
        <a href="http://nord-pas-de-calais-picardie.direccte.gouv.fr/Concurrence-et-consommation">http://nord-pas-de-calais-picardie.direccte.gouv.fr/Concurrence-et-consommation</a>
    </i>
</p>

<!--
PAYS-DE-LA-LOIRE
44
49
53
72
85
-->

<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Pays de la Loire<br>
        Immeuble Skyline<br>
        22 Mail Pablo Picasso<br>
        BP 24209<br>
        44042 Nantes CEDEX 1<br>
        Tél. : 02 53 46 79 00<br>
        Fax : 02 53 46 78 00<br>
        <a href="http://pays-de-la-loire.direccte.gouv.fr/Concurrence-et-consommation,2070">http://pays-de-la-loire.direccte.gouv.fr/Concurrence-et-consommation,2070</a>
    </i>
</p>

<!--
PROVENCE-ALPES-CÔTE-D'AZUR
4
5
6
13
83
84
-->
<p>
    <i>
        <abbr title="Direction régionale des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Direccte</abbr> Provence-Alpes-Côte d'Azur<br>
        23/25 rue Borde<br>
        CS 10009<br>
        13285 Marseille Cedex 08<br>
        Tél. : 04 86 67 32 00<br>
        Fax : 04 86 67 32 01<br>
        <a href="http://paca.direccte.gouv.fr/concurrence-et-consommation,64">http://paca.direccte.gouv.fr/concurrence-et-consommation,64</a>
    </i>
</p>

<!--
GUADELOUPE
971
-->

<p>
    <i>
        <abbr title="Direction des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Dieccte</abbr> Guadeloupe<br>
        Chemin des bougainvilliers-Guillard<br>
        97100 BASSE-TERRE<br>
        Tél. : 05 90 99 35 99<br>
        fax : 05 90 81 60 05<br>
        Courriel : 971-polec[@]dieccte.gouv.fr<br>
        <a href="http://guadeloupe.dieccte.gouv.fr/concurrence-et-consommation,2660">http://guadeloupe.dieccte.gouv.fr/concurrence-et-consommation,2660</a>
    </i>
</p>

<!--
MARTINIQUE
972
-->

<p>
    <i>
        <abbr title="Direction des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Dieccte</abbr> Martinique<br>
        Hôtel des Finances<br>
        Route de Cluny<br>
        BP 7002<br>
        97274 SCHOELCHER CEDEX<br>
        Tél. : 05 96 59 55 14<br>
        fax : 05 96 60 62 07<br>
        Courriel : 972-polec[@]dieccte.gouv.fr<br>
        <a href="http://martinique.dieccte.gouv.fr/Concurrence-et-Consommation,2646">http://martinique.dieccte.gouv.fr/Concurrence-et-Consommation,2646</a>
    </i>
</p>

<!--
GUYANE
973
-->

<p>
    <i>
        <abbr title="Direction des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Dieccte</abbr> Guyane<br>
        Angle rues Rouget de l'Isle et Mme Payé<br>
        BP 6009<br>
        97306 CAYENNE CEDEX<br>
        Tél. : 05 94 25 61 00<br>
        fax : 05 94 30 69 60<br>
        Courriel : 973-polec[@]dieccte.gouv.fr<br>
        <a href="http://guyane.dieccte.gouv.fr/concurrence-et-consommation,2667">http://guyane.dieccte.gouv.fr/concurrence-et-consommation,2667</a>
    </i>
</p>

<!--
REUNION
974
-->

<p>
    <i>
        <abbr title="Direction des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Dieccte</abbr> Réunion<br>
        Rue Bois de Nèfles<br>
        12, Lotissement Lemerle<br>
        97488 SAINT-DENIS CEDEX<br>
        Tél. : 02 62 90 21 41<br>
        fax : 02 62 21 09 97<br>
        Courriel : 974-polec[@]dieccte.gouv.fr<br>
        <a href="http://reunion.dieccte.gouv.fr/Concurrence-et-Consommation,2673">http://reunion.dieccte.gouv.fr/Concurrence-et-Consommation,2673</a>
    </i>
</p>

<!--
MAYOTTE
976
-->

<p>
    <i>
        <abbr title="Direction des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Dieccte</abbr> Mayotte<br>
        3 ter rue Mahabou<br>
        BP 174<br>
        97600 MAMOUDZOU MAYOTTE<br>
        Tél. : 02 69 61 16 57<br>
        fax : 02 69 61 03 37<br>
        Courriel : 976.polec[@]dieccte.gouv.fr<br>
        <a href="http://mayotte.dieccte.gouv.fr/concurrence-et-consommation,2653">http://mayotte.dieccte.gouv.fr/concurrence-et-consommation,2653</a>
    </i>
</p>

<!--
Saint Pierre et Miquelon
975
-->

<p>
    <i>
        <abbr title="Direction des entreprises, de la concurrence, de la consommation, du travail et de l'emploi">Dieccte</abbr> Saint Pierre et Miquelon<br>
        Direction de la Cohésion Sociale, du Travail, de l'Emploi et de la Population<br>
        Pôle Concurrence, Consommation et Sécurité des Populations<br>
        1, rue Ange Gautier<br>
        B.P. 4302<br>
        97500 SAINT PIERRE et MIQUELON<br>
        Tél : 05 08 41 16 30<br>
        Fax : 05 08 41 16 39<br>
        Courriel : concurrence[@]dcstep.gouv.fr
    </i>
</p>

                <p>
                    <a href="/">Revenir à l'accueil</a>
                </p>

            </div>

        </section>

    </main>

{%- endblock %}
