{% extends "base/layout.html" %}

{% block title %}{{ super() }} - Statistiques{% endblock %}

{% block head %}
{{ super() }}
<style>
/* Hack to display 0 values along x-axis in red. */
.dossiers-by-day svg > g > g.dataset-units > circle[cy='180'] {
    fill: #d1335b !important;
}
</style>
{% endblock %}

{% block content %}

    <main id="skip-to-main">

        <section class="section-white stats-loading">
            <div class="center">
                <div class="spinner">Chargement...</div>
            </div>
        </section>

        <div class="stats-container">

            <section class="section-white">
                <h3>Statistiques</h3>
                <div class="statistiques-resume">
                  <div class="box-bordered">
                    <div>Nombre de dossiers déposés</div>
                    <div class="total-dossiers"></div>
                  </div>
                  <div class="box-bordered">
                    <div>Nombre de dossiers acceptés </div>
                    <div class="total-dossiers-closed"></div>
                  </div>
                  <div class="box-bordered">
                    <div>Temps de traitement moyen</div>
                    <div class="time-to-process"></div>
                  </div>
                </div>
            </section>

            <section class="section-color">
                <h4>
                    Évolution du nombre de dossiers déposés par jour
                    <small>pendant les 31 derniers jours</small>
                </h4>
                <div class="dossiers-by-day"></div>
            </section>

            <section class="section-white">
                <h4>
                    Évolution du nombre de dossiers déposés par mois
                    <small>pendant les 365 derniers jours</small>
                </h4>
                <div class="dossiers-by-month"></div>
            </section>

            <section class="section-color">
                <h4>Évolution du temps de traitement moyen par mois</h4>
                <div class="time-to-process-by-month"></div>
            </section>

            <section class="section-white">
                <h4>Répartition des dossiers par statut</h4>
                <div class="dossiers-by-status"></div>
            </section>

            <section class="section-color">
                <h4>Répartition des dossiers par pays</h4>
                <div class="dossiers-by-country"></div>
            </section>

            <section class="section-white">
                <p><small>Dernière mise à jour des données : <b class="last-update"></b></small></p>
            </section>

        </div>

    </main>

{% endblock %}

{% block script %}
{{ super() }}
<script src="/static/js/frappe-charts.1.1.0.js"></script>
<script>

    let jsonUrl = 'https://wif-bo-public.num.social.gouv.fr/static/stats.json';
    if (window.location.hostname === 'localhost') {
      console.log('Running in dev mode on localhost')
      jsonUrl = 'http://localhost:1337/static/stats.json';
    }

    let loaderElem = document.querySelector('.stats-loading');
    let statsElem = document.querySelector('.stats-container');
    statsElem.style.display = 'none';

    let xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE) {
        if (this.status === 200) {
          showStatsCallback(this.response);
        } else {
          console.log('Unable to load stats.json from', jsonUrl);
        }
      }
    };
    xhr.open('GET', jsonUrl, true);
    xhr.send(null);

    let showStatsCallback = function (json) {

        loaderElem.style.display = 'none';
        statsElem.style.display = 'block';

        document.querySelector('.total-dossiers').innerHTML = json.data.total_dossiers;
        document.querySelector('.total-dossiers-closed').innerHTML = json.data.total_dossiers_closed;
        document.querySelector('.time-to-process').innerHTML = json.data.time_to_process;

        let lastUpdate = new Date(json.data.last_update)
        let options = {
            'hour': '2-digit',
            'day':'2-digit',
            'month':'2-digit',
            'year':'numeric',
            'minute':'2-digit',
        };
        lastUpdate = new Intl.DateTimeFormat('fr-FR', options).format(lastUpdate);
        document.querySelector('.last-update').innerHTML = lastUpdate;

        new frappe.Chart('.dossiers-by-day', {
            data: json.data_num_dossiers_day,
            type: 'line',
            height: 250,
            colors: ['#006cb0'],
        });
        new frappe.Chart('.dossiers-by-month', {
            data: json.data_num_dossiers_month,
            type: 'line',
            height: 250,
            colors: ['#006cb0'],
        });
        new frappe.Chart('.dossiers-by-status', {
            data: json.data_num_by_status,
            type: 'bar',
            height: 250,
            colors: ['#006cb0'],
        });
        new frappe.Chart('.dossiers-by-country', {
            data: json.data_num_by_contry,
            type: 'bar',
            height: 250,
            colors: ['#006cb0'],
        });
        new frappe.Chart('.time-to-process-by-month', {
            data: json.data_time_to_process_by_month,
            type: 'bar',
            height: 250,
            colors: ['#006cb0'],
        });
    };

</script>
{% endblock %}
