{% extends "base/layout.html" %}

{% block title %}{{ super() }} - Vérification d'une autorisation provisoire de travail{% endblock %}

{% block content %}

    <main id="skip-to-main">

        <section class="section-white" id="vue-js-app">
            <div class="aerate-content">

                <h3>
                    Vérifiez la validité
                    <small>d'une autorisation provisoire de travail pour un étudiant étranger</small>
                </h3>

                <p><i>Disponible au plus tard 1 heure après délivrance de l'autorisation par la Direccte. Ne concerne que les autorisations délivrées via Work in France</i></p>

                <form @submit.prevent="checkForm">

                    <div class="form-group" v-bind:class="authIdClass">
                        <label for="ds_id" class="display-block">Numéro de l'autorisation provisoire de travail</label>
                        <br>
                        <input id="ds_id" type="text" v-model="form.ds_id">
                        <ul v-if="form.errors.ds_id.length" style="margin-top: 0;">
                            <li v-for="error in form.errors.ds_id" class="form-error-text">${ error }</li>
                        </ul>
                    </div>

                    <div class="form-group" v-bind:class="birthdayDateClass">
                        <label for="birthday_date" class="display-block">
                            Date de naissance de l'étudiant
                            <small>(au format jj/mm/aaaa)</small>
                        </label>
                        <br>
                        <input id="birthday_date" type="text" v-model="form.birthday_date">
                        <ul v-if="form.errors.birthday_date.length" style="margin-top: 0;">
                            <li v-for="error in form.errors.birthday_date" class="form-error-text">${ error }</li>
                        </ul>
                    </div>

                    <p v-if="!pendingXhrRequest">
                        <input class="btn" type="submit" value="Vérifiez la validité">
                    </p>
                    <p v-if="pendingXhrRequest">
                        <span class="spinner">Chargement...</span>
                    </p>

                </form>

                <div class="notification" v-bind:class="resultClass" v-if="result">
                    <div v-if="!result.data">
                        <h4>Autorisation provisoire de travail non valide.</h4>
                        <p>Vérifiez les informations saisies. Contactez-nous pour plus de précisions.</p>
                    </div>
                    <div v-if="result.data">
                        <h4 v-if="result.data.has_expired">Autorisation provisoire de travail expirée.</h4>
                        <h4 v-if="!result.data.has_expired">Autorisation provisoire de travail valide.</h4>
                        <ul>
                            <li>Numéro : <b>${ result.data.ds_id }</b></li>
                            <li>Pour le salarié :
                                <ul>
                                    <li>Prénom : <b>${ result.data.prenom }</b></li>
                                    <li>Nom : <b>${ result.data.nom }</b></li>
                                </ul>
                            </li>
                            <li>Pour l'entreprise identifiée par le numéro SIRET <b>${ result.data.siret }</b></li>
                            <li>Valable du <b>${ dateJsonToStr(result.data.date_de_debut_apt) }</b> au <b>${ dateJsonToStr(result.data.date_de_fin_apt) }</b>.</li>
                        </ul>
                        <p>Contactez-nous pour récupérer une copie de l'attestation.</p>
                    </div>
                </div>

                <div class="notification error" v-if="xhrError">
                    <p>Un problème de connexion à notre service de vérification est survenu.</p>
                    <p>Veuillez réessayer ultérieurement.</p>
                </div>

            </div>
        </section>

    </main>

{% endblock %}

{% block script %}
    {{ super() }}
    <script src="/static/js/vue.2.5.16.js"></script>
    <script src="/static/js/vue_validity_check.js"></script>
{% endblock %}
