{% extends "base/layout.html" %}

{% block title %}{{ super() }} - Vérification d'une autorisation provisoire de travail{% endblock %}

{% block content %}

    <main id="skip-to-main">

        <section class="section-white" id="vue-js-app">
            <div class="aerate-content">

                <h3>
                    Vérifiez la validité
                    <small>d'une autorisation provisoire de travail pour un étudiant étranger</small>
                </h3>

                <form @submit.prevent="checkForm">

                    <div class="form-group" v-bind:class="authIdClass">
                        <label for="auth_id" class="display-block">Numéro de l'autorisation provisoire de travail</label>
                        <br>
                        <input id="auth_id" type="text" v-model="form.auth_id">
                        <ul v-if="form.errors.auth_id.length" style="margin-top: 0;">
                            <li v-for="error in form.errors.auth_id" class="form-error-text">${ error }</li>
                        </ul>
                    </div>

                    <div class="form-group" v-bind:class="birthdayDateClass">
                        <label for="birthday_date" class="display-block">
                            Date de naissance de l'étudiant
                            <small>(au format jj/mm/aaaa)</small>
                        </label>
                        <br>
                        <input id="birthday_date" type="text" v-model="form.birthday_date">
                        <ul v-if="form.errors.birthday_date.length" style="margin-top: 0;">
                            <li v-for="error in form.errors.birthday_date" class="form-error-text">${ error }</li>
                        </ul>
                    </div>

                    <p v-if="!pendingXhrRequest">
                        <input class="btn" type="submit" value="Vérifiez la validité">
                    </p>
                    <p v-if="pendingXhrRequest">
                        <span class="spinner">Chargement...</span>
                    </p>

                </form>

                <div class="notification" v-bind:class="resultClass" v-if="result">
                    <h4>Autorisation provisoire de travail valide.</h4>
                    <ul>
                        <li>Numéro : <b>${ result.ds_id }</b></li>
                        <li>Pour le salarié :
                            <ul>
                                <li>Prénom : <b>${ result.prenom }</b></li>
                                <li>Nom : <b>${ result.nom }</b></li>
                            </ul>
                        </li>
                        <li>Pour l'entreprise identifiée par le numéro SIRET <b>${ result.siret }</b></li>
                        <li>Valable du <b>${ result.date_de_debut_apt }</b> au <b>${ result.date_de_fin_apt }</b>.</li>
                    </ul>
                </div>

            </div>
        </section>

    </main>

{% endblock %}

{% block script %}
    {{ super() }}
    <script src="/static/js/vue.2.5.16.js"></script>
    <script src="/static/js/vue_validity_check.js"></script>
{% endblock %}
