{% extends "base/layout.html" %}

{% block title %}{{ super() }} - Liste des documents à préparer{% endblock %}

{% block content %}

    <main id="skip-to-main">

        <section class="section-color">
            <div class="aerate-content">

                <h2>Attention</h2>

                <p>Pour vous assurer d'obtenir votre attestation dans les meilleurs délais, lorsque vous allez remplir votre formulaire soyez attentifs à :</p>

                <ul>
                    <li>la concordance des <b>NOM</b>, <b>PRÉNOM</b>, <b>DATE</b> et <b>LIEU DE NAISSANCE</b>, <b>NATIONALITÉ</b> de l'étudiant avec les informations du document lui autorisant le séjour en France,</li>
                    <li>le respect du format "nombre d'heure / fréquence", ex. <b>35H/semaine</b>,</li>
                    <li>le respect du format "salaire brut en euros / fréquence", ex. <b>9.88€/H</b>,</li>
                    <li>l'intitulé de l'emploi occupé (tel qu'il apparaît dans le contrat ou la promesse d'embauche).</li>
                </ul>

                <p>N'hésitez pas à consulter notre liste de <a href="/faq.html">Questions/Réponses</a>.

            </div>
        </section>


        <section class="section-white">
            <div class="aerate-content">

                <h2>Liste des documents à préparer</h2>

                <p>Les documents suivants vous seront demandés pendant votre démarche, assurez-vous de les avoir dans un format numérique (<b>image ou PDF</b>) avant de poursuivre :</p>

                <h3>Documents obligatoires</h3>
                <ol>
                    {% block mandatory_docs_list %}
                    <li>
                        <b>Contrat de travail (1 seul document contenant 1 ou plusieurs pages) :</b>
                        <ul>
                            <li>contrat de droit commun (CDD ou CDI)</li>
                            <li>ou contrat d'apprentissage</li>
                            <li>ou contrat de professionnalisation</li>
                            <li>ou contrat doctoral</li>
                        </ul>
                    </li>
                    <li>
                        <b>Carte d'étudiant en cours de validité (1 seul document contenant 1 ou plusieurs pages) :</b>
                        <ul>
                            <li>ou certificat de scolarité en cours de validité</li>
                        </ul>
                    </li>
                    <li>
                        <b>Document(s) autorisant le séjour en France (1 seul document contenant 1 ou plusieurs pages) :</b>
                        <ul>
                            <li>carte de séjour en cours de validité</li>
                            <li>ou VLSTS (Visa de Long Séjour valant Titre de Séjour) en cours de validité</li>
                            <li>ou <i>en cas de renouvellement du titre de séjour</i> ces 3 documents dans cet ordre :
                                <ol>
                                    <li>convocation à la Préfecture ou Sous-Préfecture,</li>
                                    <li>titre de séjour,</li>
                                    <li>récépissé de nouvelle demande de titre de séjour.</li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Passeport (1 seul document contenant 1 ou plusieurs pages) </b>
                    </li>
                    {% endblock mandatory_docs_list %}
                </ol>

                <h3>Documents optionnels</h3>
                <ol>
                    {% block optional_docs_list %}
                    <li>
                        En cas de <a href="http://www.ciep.fr/enic-naric-page/verifier-si-profession-est-reglementee" title="Vérifier si ma profession est réglementée" target="_blank">profession réglementée</a> :
                        <ul>
                            <li>un <b>justificatif permettant d'exercer la profession réglementée (1 seul document contenant 1 ou plusieurs pages)</b></li>
                        </ul>
                    </li>
                    <li>
                        En cas de renouvellement d'autorisation provisoire de travail :
                        <ul>
                            <li><b>votre ancienne autorisation de travail + vos 3 dernières fiches de paie (1 seul document contenant plusieurs pages)</b></li>
                        </ul>
                    </li>
                    {% endblock optional_docs_list %}
                </ol>

                <br>

                <div class="notification">
                    <p>En cliquant ci-dessous, vous allez être redirigé vers le site <b>Démarches simplifiées</b> sur lequel vous allez :</p>
                    <ul>
                        <li>créer un compte qui vous permettra de formuler de nouvelles demandes</li>
                        <li>finaliser votre demande d'autorisation provisoire de travail en y déposant vos documents</li>
                    </ul>
                    <p>Extrait des <a href="https://demarches-simplifiees.gitbook.io/demarches-simplifiees/cgu#realisation-d'une-demarche-en-ligne" target="_blank"><abbr title="Conditions générales d'utilisation">CGU</abbr> de demarches-simplifiees.fr</a> : L'usager remplit en ligne le formulaire et valide celui-ci […]. La confirmation et <b>la transmission du formulaire par l'usager vaut signature de celui-ci</b>. En utilisant le service, l'usager s'engage sur la véracité des informations transmises lors du dépôt de son dossier.</p>
                </div>

                <br>

                <p class="center">
                    <a class="btn" href="https://www.demarches-simplifiees.fr/commencer/autorisation-provisoire-de-travail">Poursuivre votre demande sur <b>Démarches simplifiées</b></a>
                </p>

            </div>
        </section>

    </main>

{% endblock %}
